<ion-header>
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <h1 [(ngModel)]="naam"></h1>
        <ion-row>
          <ion-col>
            <ion-icon name="calendar-clear-outline"></ion-icon>
            <ion-label>Woensdag 4 augustus</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>19:30 - 20:30</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-icon name="location"></ion-icon>
            <ion-label>Voetbalveld</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-euro"></ion-icon>
            <ion-label *ngIf="prijs === 0">Gratis</ion-label>
            <ion-label *ngIf="prijs !== null" [(ngModel)]="prijs"></ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
            <h5>Leeftijd: </h5>
            <ion-label></ion-label>
        </ion-row>
        <ion-row>
            <h5>Type activiteit: </h5>
            <ion-label>Sport</ion-label>
        </ion-row>

        <ion-row>
            <h5>Beschrijving</h5>
          <ion-item></ion-item>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="success">Inschrijven</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>Herrinner mij</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
