<ion-header>
  <ion-toolbar>
    <ion-title>Animatie programma</ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>
<ion-content>
  <ion-searchbar [value]="zoekterm">
  </ion-searchbar>
  <div id="container" *ngFor="let api of apiService.getActiviteiten(); let i = index">
    <ion-list>
      <ion-item>
        {{api.datum | date:'MMMM d, y'}}
      </ion-item>
    </ion-list>
          <div *ngFor="let act of api.activiteiten">
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-icon name="{{act.icon}}" style="padding: 15px" class="ion-padding-vertical"></ion-icon>
                </ion-col>
                <ion-col size="7">
                  <ion-row>
                    <ion-card-title>{{act.naam}}</ion-card-title>
                  </ion-row>
                  <ion-row>
                    <ion-icon size="small" name="time-outline"></ion-icon>
                    <ion-label>{{act.beginTijd | date:'H:mm'}}</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-icon size="small" name="location"></ion-icon>
                    <ion-label>{{act.locatie}}</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-button expand="block" [routerLink]="['detail', act._id, i]">Details bekijken</ion-button>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
        </div>
        </div>
</ion-content>
