<ion-header>
  <ion-toolbar>
    <ion-title>Schelde Safari</ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div id="fotozeehonden">
      <h3 class="white ion-text-center">Zeehonden spotten op de schelde!</h3>
    </div>
    <p>Ook zin in een mooie vaartocht over de Westerschelde, op zoek naar de zeehond? Kijk dan welke data nog
      beschikbaar zijn en reserveer vandaag nog!</p>

    <h4>Prijzen</h4>
    <ion-list>
      <ion-item *ngFor="let info of algInfo">€ {{info.prijs}} p.p {{info.leeftijdscat}}</ion-item>
    </ion-list>

    <div id="fotoboot"></div>
    <h2 class="ion-text-center">Reserveren</h2>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Aantal tot 12 jaar</ion-label>
          <ion-input type="number" max="5" min="0" [(ngModel)]="aantalPersMin12" (ionChange)="prijsberekenen()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Aantal vanaf 12 jaar</ion-label>
          <ion-input type="number" max="6"  min="0" [(ngModel)]="aantalPersPlus12" (ionChange)="prijsberekenen()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button id="open-modal-date">Selecteer een datum</ion-button>
        <ion-modal trigger="open-modal-date">
          <ng-template>
            <ion-content *ngFor="let dat of dataInfo">

              <ion-datetime presentation="date" [(ngModel)]="datum" size="cover" monthValues="{{dat.maanden}}"
                            yearValues="{{dat.jaren}}" dayValues="{{dat.dagen}}"
              showDefaultButtons="true">
                <div slot="title">Kies een datum voor uw schelde safari</div>
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-radio-group value="biff" *ngFor="let date of dataInfo" [(ngModel)]="time">
            <ion-list-header>
              <ion-label>Tijden</ion-label>
            </ion-list-header>

            <ion-item *ngFor="let uren of date.uren">
              <ion-label>{{uren}} : 00</ion-label>
              <ion-radio slot="start" value="{{uren}}" color="medium"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="width-80">
        <h5>
          Totaal bedrag
        </h5>
      </div>

      <div class="width-20">
        <p>{{totaalbedrag}}</p>
      </div>
    </ion-row>
    <ion-button expand="block" strong="true" (click)="reservatieMaken()">
      Reserveren
    </ion-button>
  </ion-grid>
</ion-content>
