<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activiteiten op ScheldeOord
    </ion-title>

    <ion-buttons slot='start'>
      <ion-menu-button menuId='menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schelde Oord</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Nu bezig</h1>
    <div *ngIf="apiService.listHuidigeActiviteiten().length === 0">
      <div>
        <p>Momenteel is er geen activiteit bezig. <br/> Bekijk ons animatieprogramma voor al de toekomstige activiteiten
        </p>
        <ion-button routerLink="/animatie">
          Animatieprogramma
        </ion-button>
      </div>
    </div>
    <div *ngIf="apiService.listHuidigeActiviteiten().length > 0">
      <div *ngFor="let act of apiService.listHuidigeActiviteiten(); let i = index">
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-icon name="{{act.icon}}" style="padding: 15px" class="ion-padding-vertical"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-card-title>{{act.naam}}</ion-card-title>
              </ion-row>
              <ion-row>
                <ion-icon name="time-outline" size="small"></ion-icon>
                <ion-label>{{act.beginTijd| date:'H:mm': 'GMT+0'}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-icon name="location" size="small"></ion-icon>
                <ion-label>{{act.locatie}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-button expand="block" [routerLink]="['detail', act._id,i]">Details bekijken</ion-button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>

    <h1>Niet te missen</h1>
    <div *ngIf="apiService.listUitgelichteActiviteiten().length === 0">
      <div class="ion-margin">
      <p>Vandaag zijn er geen speciale activiteiten gepland, kijk op het animatieprogramma wat er vandaag te doen
        is.</p>
      </div>
    </div>
    <div *ngIf="apiService.listUitgelichteActiviteiten().length >0">
      <div *ngFor="let act of apiService.listUitgelichteActiviteiten(); let i = index">
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-icon name="{{act.icon}}" style="padding: 15px" class="ion-padding-vertical"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-card-title>{{act.naam}}</ion-card-title>
              </ion-row>
              <ion-row>
                <ion-icon name="time-outline" size="small"></ion-icon>
                <ion-label>{{act.beginTijd | date:'H:mm': 'GMT+0'}}</ion-label>
                <ion-label> -</ion-label>
                <ion-label>{{act.eindTijd | date:'H:mm': 'GMT+0'}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-icon name="location" size="small"></ion-icon>
                <ion-label>{{act.locatie}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-button expand="block" [routerLink]="['detail', act._id,i]">Details bekijken</ion-button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <h1>Mijn reservaties</h1>
    <div *ngIf="this.inschrijvingSafari.length ===0 && this.inschrijvingActiviteit.length ===0">
      <p>
        Je hebt nog niks gepland.
        Plan hier een schelde safari of bekijk ons animatieprogramma.
      </p>
      <ion-row>
        <ion-button routerLink="/safari">
          Schelde safari
        </ion-button>
        <ion-button routerLink="/animatie">
          Animatie
        </ion-button>
      </ion-row>
    </div>
    <div *ngIf="this.inschrijvingSafari.length !==0">
      <h4>Reservaties schelde Safari</h4>
      <div *ngFor="let info of inschrijvingSafari">
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-icon name="calendar" size="small"></ion-icon>
                <ion-card-title>{{info.date |date:'d MMMM y': '-120'}}</ion-card-title>
              </ion-row>
              <ion-row>
                <ion-icon name="people" size="small"></ion-icon>
                <p>{{info.aantalPers}} personen</p>
              </ion-row>
              <ion-row>
                <ion-icon name="logo-euro" size="small"></ion-icon>
                <p>{{info.bedr}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <div *ngIf="this.inschrijvingActiviteit.length !==0">
      <h4>Reservaties animatie</h4>
      <div *ngFor="let info of inschrijvingActiviteit">
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-card-title>{{info.naam}}</ion-card-title>
              </ion-row>
              <ion-row>
                <ion-icon name="calendar" size="small"></ion-icon>
                <p>{{info.datum |date:'d MMMM y': '-120'}}</p>
              </ion-row>
              <ion-row>
                <ion-icon name="time-outline" size="small"></ion-icon>
                <p>{{info.beginTijd | date: 'HH:mm': 'GMT+0'}}</p>
              </ion-row>
              <ion-row>
                <ion-icon name="people" size="small"></ion-icon>
                <p>{{info.aantalPers}} personen</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
