<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activiteiten op ScheldeOord
    </ion-title>

    <ion-buttons slot='start'>
      <ion-menu-button menuId='menu'></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schelde Oord</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Nu bezig</h1>
    <div *ngIf="apiService.getHuidigeActiviteit() === undefined">
<!--    <div>-->
      <p>Momenteel is er geen activiteit bezig. <br/> Bekijk ons animatieprogramma voor al de toekomstige activiteiten</p>
      <ion-button  routerLink="/animatie">
        Animatieprogramma
      </ion-button>
    </div>
    <div *ngIf="apiService.getHuidigeActiviteit() !== undefined">
<!--    <div>-->
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-icon ></ion-icon>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-card-title></ion-card-title>
            </ion-row>
            <ion-row>
              <ion-icon name="time-outline"></ion-icon>
              <ion-label></ion-label>
            </ion-row>
            <ion-row>
              <ion-icon name="location"></ion-icon>
              <ion-label></ion-label>
            </ion-row>
            <ion-row>
              <ion-button expand="block">Details bekijken</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <h1>Niet te missen</h1>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-img></ion-img>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-card-title>Color run</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>19:30 - 20:30</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon name="location"></ion-icon>
            <ion-label>Voetbalveld</ion-label>
          </ion-row>
          <ion-row>
            <ion-button expand="block">Details bekijken</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-img></ion-img>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-card-title>Viskraam</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>15:00-19:00</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon name="location"></ion-icon>
            <ion-label>Aan de receptie</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <h1>Mijn reservaties</h1>
    <p>
      Je hebt nog niks gepland.
      Plan hier een schelde safari of bekijk ons animatieprogramma.
    </p>
   <ion-row>
       <ion-button routerLink="/safari">
         Schelde safari
       </ion-button>
     <ion-button routerLink="/animatie">
        Animatie
     </ion-button>
   </ion-row>
  </div>
</ion-content>
